body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color:palegreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  float: left;
  flex: 50%;
}

.error-message {
  color: red;
  background-color: white;
  border: 5px solid;
}

.main {
  margin-left: 20%;
  margin-right: 20%;
}

table, th, td {
  border: 1px solid;
}
table {
  width: 50%;
}
